<nav>
  <ol>
    <%# <li><%= link_to_unless_current "home", :action => "home" %1></li> %>
    <%# <li><%= link_to_unless_current "speakers", :action => "speakers" %1></li> %>
    <%# <li><%= link_to_unless_current "schedule", :action => "schedule" %1></li> %>
    <%# <li><%= link_to_unless_current "sponsors", :action => "sponsors" %1></li> %>
    <%# <li><%= link_to_unless_current "travel", :action => "travel" %1></li> %>
    <%# <li><%= link_to_unless_current "register", :action => "register" %1></li> %>
    <%# <li><%= link_to_unless_current "about", :action => "about" %1></li> %>
    <%# <li><%= link_to_unless_current "contact", :action => "contact" %1></li> %>
  </ol>
</nav>

