<header>
<h1>the speakers</h1>
</header>
<section class="speakers">
<div class="speaker_block">
  <ul class="cycle" id="speaker_cycle">
    <% @speakers.each do |speaker| %>
      <li>
        <h2><%= speaker.name %></h2>
        <%= image_tag speaker.image_path %>
        <%= link_to "Website", speaker.website_url %>
        <%= link_to "Twitter", speaker.twitter_username if speaker.twitter_username %>
        <p><%= speaker.bio %></p>
      </li>
    <% end %>
  </ul>
</div>
<div class="link_carousel">
  <button class="prev iconfont_alpha">1</button>
  <p><span id="current_speaker">1</span> / <%= @speakers.count %></p>
  <button class="next iconfont_alpha">2</button>
</div>
<%# <p><a href="#">All</a></p>%>
</section>
