<div class="column_alpha">
  <%= render :partial => 'call_for_proposals' %>
  <%= render :partial => 'contact' %>
</div>

<div class="column_bravo">
  <%= render :partial => 'uxmad' %>
  <%= render :partial => "speakers" %>
  <%= render :partial => "sponsors" %>
</div>

<div class="column_charlie">
  <%= render :partial => 'register' %>
  <%= render :partial => 'travel' %>
</div>
