<div class="column_alpha">
  <article class="content_block_alpha">
    <%= render :partial => "speakers" %>
  </article>

  <article class="content_block_bravo">
    <%= render :partial => 'contact' %>
  </article>
</div>

<div class="column_bravo">
  <article class="content_block_bravo">
    <%= render :partial => 'uxmad' %>
  </article>

  <article class="content_block_charlie">
  <header>
  <h1>the schedule</h1>
  </header>
  <section>
  <h2> Thursday 7/19 </h2>
  <ul>
    <li> <strong>8am</strong> &mdash; Check In </li>
    <li> <strong>9am</strong> &mdash; <a href="http://uxmad2012.sched.org/#2012-07-19">Workshop Sessions</a></li>
    <li> <strong>Noon</strong> &mdash; Lunch </li>
    <li> <strong>1pm</strong> &mdash; <a href="http://uxmad2012.sched.org/#2012-07-19">Workshop Sessions</a></li>
    <li> <strong>5pm</strong> &mdash; Reception </li>
    <li> <strong>6:30pm</strong> &mdash; Dinner on your own </li>
    <li> <strong>8pm</strong> &mdash; Sponsored Drinkup </li>
  </ul>

  <h2> Friday 7/20 </h2>
  <ul>
    <li> <strong>8am</strong> &mdash; Check In </li>
    <li> <strong>9am</strong> &mdash; <a href="http://uxmad2012.sched.org/#2012-07-20">Sessions</a> </li>
    <li> <strong>Noon</strong> &mdash; Lunch </li>
    <li> <strong>1pm</strong> &mdash; <a href="http://uxmad2012.sched.org/#2012-07-20">Sessions</a> </li>
    <li> <strong>5pm</strong> &mdash; Reception </li>
    <li> <strong>6:30pm</strong> &mdash; Dinner on your own </li>
    <li> <strong>8pm</strong> &mdash; Sponsored Drinkup </li>
  </ul>

  <h2> Saturday 7/21 </h2>
  <ul>
    <li> <strong>6am</strong> &mdash; Farmer's Market </li>
    <li> <strong>9:45am</strong> &mdash; <a href="http://uxmad2012.sched.org/#2012-07-21">Sessions</a> </li>
    <li> <strong>11:50am</strong> &mdash; Lunch </li>
    <li> <strong>1:20pm</strong> &mdash; <a href="http://uxmad2012.sched.org/#2012-07-21">Sessions</a> </li>
    <li> <strong>6pm</strong> &mdash; Dinner on your own </li>
    <li> <strong>8pm</strong> &mdash; After Party </li>
  </ul>
  <p class="schedule_link"><a class="undecorate" href="http://uxmad2012.sched.org/">Detailed Schedule</a></p>
  </section>
  </article>

    <%= render :partial => "sponsors" %>
        </div>

        <div class="column_charlie">
          <article class="content_block_charlie">
          <header>
          <h1>register</h1>
          </header>
          <section>
          <h2>Buy your ticket</h2>
          <p>
            Three days of mind-expanding content and top-shelf after-parties.
          </p>
          <ul id="prices">
            <li>
              <strong>
              $399
              </strong>
              &mdash;
              Conference &amp; Workshop
            </li>
            <li>
              <strong>
              $149
              </strong>
              &mdash;
              Workshop Only
            </li>
            <li>
              <strong>
              $299
              </strong>
              &mdash;
              Conference Only
            </li>
          </ul>
          <%= link_to register_path, :class => "button", :id => "register_link" do %>
            Register
            <span class="iconfont_alpha">2</span>
          <% end %>
          </section>
          </article>

          <article class="content_block_alpha">
          <header>
          <h1>hotel</h1>
          </header>
          <section>
            <h2>Sheraton Madison</h2>
            <p>We have a great rate of $99/night which includes free wifi and a hot breakfast at the Sheraton Hotel in Madison.
            <h5><a href="https://www.starwoodmeeting.com/StarGroupsWeb/booking/reservation?id=1203057565&key=A457F">Book Now</a></h5>
          </section>
          </article>
          <article class="content_block_bravo">
          <header>
          <h1>travel</h1>
          </header>
          <section>
          <h2>How lost can you really get on an isthmus?</h2>
          <p>UXMad takes advantage of the beautiful and iconic community owned spaces in Downtown Madison. The workshops take place at Madison College's Downton Campus. The conference proper takes place at the breathtaking Overture Center for the Arts.
            <p>
              <iframe width="255" height="255" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=201+State+St,+Madison,+WI+53703&amp;aq=0&amp;oq=201+&amp;sll=37.0625,-95.677068&amp;sspn=36.999937,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=m&amp;z=14&amp;ll=43.07476,-89.388066&amp;output=embed"></iframe>
              <br />
              <small>
                <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=201+State+St,+Madison,+WI+53703&amp;aq=0&amp;oq=201+&amp;sll=37.0625,-95.677068&amp;sspn=36.999937,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=201+State+St,+Madison,+Wisconsin+53703&amp;t=m&amp;z=14&amp;ll=43.07476,-89.388066" style="color:#0000FF;text-align:left">View Larger Map</a>
              </small>
            </p>

            </section>
            </article>
          </div>
