<li>
  <a name="<%= sponsor.anchor_name %>">
    <h2><%= sponsor.name %></h2>
  </a>
  <%- if sponsor.image_path? %>
    <div class="sponsor-image-block">
      <%= image_tag sponsor.image_path, :class => 'sponsor-image' %>
    </div>
  <% end %>
  <p><%= link_to "Website", sponsor.url if sponsor.url %></p>
  <p><%= sponsor.description %></p>
</li>
