<li class="sponsor">
  <a name="<%= sponsor.anchor_name %>">
    <h2><%= sponsor.name %></h2>
  </a>
  <%- if sponsor.image_path? %>
    <div class="sponsor-image-block">
      <%= image_tag sponsor.image_path, :class => 'sponsor-image' %>
    </div>
  <% end %>
  <div class="sponsor-description-block">
    <p><%= link_to "Website", sponsor.url if sponsor.url %></p>
    <p><%= sponsor.description %></p>
  </div>
</li>
<div class="clearfix spacing"></div>
