<section id="sponsor_page">
  <h3>Sponsors</h3><br />
  <% @sponsors.each do |sponsor| %>
    <div class="sponsor_info">
      <p>Company:</p>
      <%= link_to sponsor.name, sponsor.url %>
      <br />
      <br />
      <% if sponsor.twitter_handle %>
        <p>Twitter:</p>
        <%= link_to "@#{sponsor.twitter_handle}", "https://www.twitter.com/#{sponsor.twitter_handle}" %>
        <br />
        <br />
      <% end %>
      <% if sponsor.url %>
        <p>Website:</p>
        <%= link_to sponsor.url, sponsor.url %>
      <% end %>
    </div>
    <div class="sponsor_logo"><%= image_tag sponsor.image_path %></div>
    <div class="sponsor_bio">
      <p>
        <%= sponsor.description %>
      </p>
    </div>
    <div class="filler"><hr></div>
  <% end %>
</section>
