<p id="notice"><%= notice %></p>

<p>
  <b>Prac no:</b>
  <%= @patient.prac_no %>
</p>

<p>
  <b>Pat sid:</b>
  <%= @patient.pat_sid %>
</p>

<p>
  <b>Patient id:</b>
  <%= @patient.patient_ID %>
</p>

<p>
  <b>Pat ssn:</b>
  <%= @patient.pat_ssn %>
</p>

<p>
  <b>Lname:</b>
  <%= @patient.lname %>
</p>

<p>
  <b>Fname:</b>
  <%= @patient.fname %>
</p>

<p>
  <b>Mname:</b>
  <%= @patient.mname %>
</p>

<p>
  <b>Suff:</b>
  <%= @patient.suff %>
</p>

<p>
  <b>Sex:</b>
  <%= @patient.sex %>
</p>

<p>
  <b>Dob:</b>
  <%= @patient.dob %>
</p>

<p>
  <b>Marr stat:</b>
  <%= @patient.marr_stat %>
</p>

<p>
  <b>Race:</b>
  <%= @patient.race %>
</p>

<p>
  <b>Language:</b>
  <%= @patient.language %>
</p>

<p>
  <b>Emp stat:</b>
  <%= @patient.emp_stat %>
</p>

<p>
  <b>Emp code:</b>
  <%= @patient.emp_code %>
</p>

<p>
  <b>Addr1:</b>
  <%= @patient.addr1 %>
</p>

<p>
  <b>Addr2:</b>
  <%= @patient.addr2 %>
</p>

<p>
  <b>City:</b>
  <%= @patient.city %>
</p>

<p>
  <b>State:</b>
  <%= @patient.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @patient.zip %>
</p>

<p>
  <b>Courty:</b>
  <%= @patient.courty %>
</p>

<p>
  <b>Patid2:</b>
  <%= @patient.patid2 %>
</p>

<p>
  <b>Patid3:</b>
  <%= @patient.patid3 %>
</p>

<p>
  <b>Patid4:</b>
  <%= @patient.patid4 %>
</p>

<p>
  <b>Patid5:</b>
  <%= @patient.patid5 %>
</p>

<p>
  <b>Chart:</b>
  <%= @patient.chart_id %>
</p>

<p>
  <b>Email:</b>
  <%= @patient.email %>
</p>

<p>
  <b>Hph:</b>
  <%= @patient.hph %>
</p>

<p>
  <b>Wph:</b>
  <%= @patient.wph %>
</p>

<p>
  <b>Cph:</b>
  <%= @patient.cph %>
</p>

<p>
  <b>Dr:</b>
  <%= @patient.dr %>
</p>

<p>
  <b>Red dr:</b>
  <%= @patient.red_dr %>
</p>

<p>
  <b>Release:</b>
  <%= @patient.release %>
</p>

<p>
  <b>Consent:</b>
  <%= @patient.consent %>
</p>

<p>
  <b>Consent date:</b>
  <%= @patient.consent_date %>
</p>

<p>
  <b>Last visit dt:</b>
  <%= @patient.last_visit_dt %>
</p>

<p>
  <b>Deceased:</b>
  <%= @patient.deceased %>
</p>

<p>
  <b>Death dt:</b>
  <%= @patient.death_dt %>
</p>

<p>
  <b>Reg dt:</b>
  <%= @patient.reg_dt %>
</p>

<p>
  <b>Dx1:</b>
  <%= @patient.dx1 %>
</p>

<p>
  <b>Dx2:</b>
  <%= @patient.dx2 %>
</p>

<p>
  <b>Dx3:</b>
  <%= @patient.dx3 %>
</p>

<p>
  <b>Dx4:</b>
  <%= @patient.dx4 %>
</p>

<p>
  <b>Last statment dt:</b>
  <%= @patient.last_statment_dt %>
</p>

<p>
  <b>Last statment amt:</b>
  <%= @patient.last_statment_amt %>
</p>

<p>
  <b>Pat ethnicity:</b>
  <%= @patient.pat_ethnicity %>
</p>

<p>
  <b>Pat class:</b>
  <%= @patient.pat_class %>
</p>

<p>
  <b>Reserved1:</b>
  <%= @patient.reserved1 %>
</p>

<p>
  <b>Reserved2:</b>
  <%= @patient.reserved2 %>
</p>

<p>
  <b>Sortname:</b>
  <%= @patient.sortname %>
</p>

<p>
  <b>Customer:</b>
  <%= @patient.customer_id %>
</p>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
