	<tr>

                <td> <%= link_to result.sortname, :controller => 'patients', :action => 'init', :mysid => result.pat_sid, :myprac => result.prac_no %> </td>
                <td> <%= result.dob       %> </td>
                <td> <%= result.sex       %> </td>
                <td> <%= result.pat_ssn   %> </td>
                <td> <%= result.addr1     %> </td>
                <td> <%= result.city      %> </td>
                <td> <%= result.state     %> </td>
                <td> <%= result.zip       %> </td>
        </tr>
