<!DOCTYPE html>
<html>
  <head>
    <title>UXMad - A User Experience Conference July 19-20, 2012 in Madison, WI</title>
    <%= favicon_link_tag %>
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <%= stylesheet_link_tag "core" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <section class="container">

    <%= render :partial => "shared/site_header" %>

    <div class="sub-container">
      <%= yield %>
    </div>

    <footer>
    <div class="designer_hr_full"></div>
    Copyright &copy; 2012 Madison User Experience Conference  |  <a href="mailto:contact@uxmad.com">contact@uxmad.com</a>
    </footer>

    </section>
  </body>
</html>
