<!DOCTYPE html>
<html>
<head>
	<title>UX Madison</title>
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	
	<script src="http://code.jquery.com/jquery-1.6.1.js"></script>		<!-- v1.6.1 May 12 2011 -->
	<%= javascript_include_tag 'modernizr-1.7.min.js' %>
	<%= javascript_include_tag 'selectivizr-min.js' %>
	<%= javascript_include_tag 'css_browser_selector.js' %>
	<%= stylesheet_link_tag 'core.css' %>
	<%= csrf_meta_tag %>
</head>
<body>
	<section class="container">
		
		<header>
				<div class="site_header">
					<%= render :partial => "shared/site_nav" %>
					<div class="logo">UX Madison</div>
					<div class="event_date">July 20-21, 2012<br>Madison, WI, USA</div>
				</div>
				<div class="designer_hr"></div>
				<hgroup class="site_hgroup">
					<h1>What is user experience design?</h1>
					<p><a href="#">Buy your ticket</a> or <a href="#">hear what others think</a>.</p>
					<p>See you at the conference.</p>
				</hgroup>
			</header>
		
		<%= yield %>
		
	</section>
</body>
</html>