<!DOCTYPE html>
<html>
  <head>
    <title>Snow*Mobile Conference February 15-16, 2013 Union South Madison, WI</title>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "skin" %>

    <!--[if lt IE 9]>
    <script type="text/javascript">
      document.createElement("nav");
      document.createElement("header");
      document.createElement("footer");
      document.createElement("section");
      </script>
      <![endif]-->

    <%= javascript_include_tag 'jquery-1.4.2.min' %>
    <%= javascript_include_tag 'jquery.jcarousel.min' %>
    <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery('#schedule_carousel').jcarousel({ scroll: 1 });
          jQuery('#speaker_carousel').jcarousel({ wrap: 'circular', scroll: 1 });
          jQuery('#sponsor_carousel').jcarousel({ scroll: 1 });
      });
    </script>
    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body id="<%= [controller_name.capitalize, action_name.capitalize].join %>">
    <div id="parent_wrapper">
      <div id="wrapper">
        <%= yield %>
      </div>
    </div>

    <footer id="snowdrifts">
    <p>Copyright &copy; 2012-2013 Snow * Mobile Conference - <a href="mailto:contact@snow-mobile.org">contact@snow-mobile.org</a> - <a href="policies.html">Policies</a></p>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35125645-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
