<!DOCTYPE html>
<html class="styleguide">
<head>
	<title>Axle.SCSS ~ Putting 'Object' in OOCSS since 2011</title>
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
	<%= stylesheet_link_tag 'screens/axle.css' %>
	
	<script src="http://code.jquery.com/jquery-1.6.1.js"></script>		<!-- v1.6.1 May 12 2011 -->
	<%= javascript_include_tag 'modernizr-1.7.min.js' %>
	<%= javascript_include_tag 'selectivizr-min.js' %>
	<%= javascript_include_tag 'css_browser_selector.js' %>
	<%= javascript_include_tag 'axle/axle.js' %>
	<%= stylesheet_link_tag 'core.css' %>
	<%= javascript_include_tag 'axle/prettify.js' %>
	<%= csrf_meta_tag %>
</head>
<body onload="prettyPrint()">
	<section class="axle_container">
		<%= render :partial => "nav" %>
		<%= yield %>
		<footer class="styleguide_footer">Axle Elemental UI Design Framework<br><a href="https://twitter.com/#!/anotheruiguy">@anotheruiguy</a></footer>
	</section>

</body>
</html>